* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #2e0249;
}

section {
  background-color: #a91079;
}

footer {
  background-color: #570a57;
}

header,
section,
footer {
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
